beautifulsoup4==4.12.3
blosc2==2.7.1
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
msgpack==1.1.0
ndindex==1.9.2
numexpr==2.10.1
numpy==2.1.2
packaging==24.1
pandas==2.2.3
py-cpuinfo==9.0.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.16.0
soupsieve==2.6
tables==3.10.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
